/* home */
@use "../../global" as *;


.p-home-mv{
    &Inner{
        position: relative;
        &__content{
            &__image{
                width: 100%;
            }
            &__contact{
                position: absolute;
                bottom: 5vw;
                left: 8vw;
                width: 35vw;
                &:hover{
                    opacity: 0.7;
                    transition: 0.5s;
                }
            }
        }
    }
}
.p-home-reason{
    background: url(../images/dot_bg.png) repeat;
}

